//-Configuración y variables globales del proyecto
include config/_variables

//-
  Ajustes de la configuración global para esta sección
//- global_path = '../'
//-
  Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
  Nombre de la página
- var page = 'Inicio'
//-
  - Ejemplo de como incluir CSS por pagina
  - var section_style = {}
  - section_style['dev'] = 'home.css'
  - section_style['prod'] = 'home.min.css'
//-
  - Ejemplo como incluir los JS por pagina
  - var section_scripts =  {}
  - section_scripts['prod'].push(global_path  + scripts.controllers + 'city.min.js')
  - section_scripts['dev'].push(global_path  + scripts.controllers + 'city.js')

- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push( global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push( global_path  + scripts.libs + 'slick.js')
- section_scripts['dev'].push(global_path + scripts.controllers + 'home.js')
- section_scripts['prod'] = []

doctype html
html(lang=site.lang)
  include template/_head
  body
    -var home = true
    include template/_header 
    section.slider
      .slide
        img(src=local_header.images.imagen1)
        .container
          h3 Terminal Central del Sur es Vanguardia         
      .slide
        img(src=local_header.images.imagen1)
        .container
          h3 Terminal Central del Sur es Vanguardia         
      .slide
        img(src=local_header.images.imagen1)
        .container
          h3 Terminal Central del Sur es Vanguardia 
          
    section.lines
      .lines-principal
        .container
          .title-section
            h2 Nuestras L&iacute;neas            
          ul.row                
            li.col-3  
              .top-article
                img(src=local_header.images.logo, alt="ETN")
              .bottom-article
                p Enlaces Terrestres Nacionales (ETN)
                span.icon-arrow-down   
            li.col-3    
              .top-article
                img(src=local_header.images.logo, alt="ETN")
              .bottom-article
                p Enlaces Terrestres Nacionales (ETN)
                span.icon-arrow-down   
            li.col-3    
              .top-article
                img(src=local_header.images.logo, alt="ETN")
              .bottom-article
                p Enlaces Terrestres Nacionales (ETN)
                span.icon-arrow-down    
            li.col-3   
              .top-article
                img(src=local_header.images.logo, alt="ETN")
              .bottom-article
                p Enlaces Terrestres Nacionales (ETN)
                span.icon-arrow-down                                
            li.col-3  
              .top-article
                img(src=local_header.images.logo, alt="ETN")
              .bottom-article
                p Enlaces Terrestres Nacionales (ETN)
                span.icon-arrow-down   
            li.col-3    
              .top-article
                img(src=local_header.images.logo, alt="ETN")
              .bottom-article
                p Enlaces Terrestres Nacionales (ETN)
                span.icon-arrow-down   
            li.col-3    
              .top-article
                img(src=local_header.images.logo, alt="ETN")
              .bottom-article
                p Enlaces Terrestres Nacionales (ETN)
                span.icon-arrow-down    
            li.col-3   
              .top-article
                img(src=local_header.images.logo, alt="ETN")
              .bottom-article
                p Enlaces Terrestres Nacionales (ETN)
                span.icon-arrow-down                                
          .information-partner
            .row
              .col-4
                h3 Enlaces Terrestres Nacionales (ETN)
                ul
                  li 
                    p Telefono Taxqueña (55) 55 55 55 55
                  li 
                    p Call Center (55) 55 55 55 55
                  li 
                    p Pagina Web
              .col-8
                .container
                  .row
                    ul.col-12
                      li.col-3
                        .image-line
                          img(src=local_header.images.logo, alt="ETN")
                      li.col-3
                        .image-line
                          img(src=local_header.images.logo, alt="ETN")
                      li.col-3
                        .image-line
                          img(src=local_header.images.logo, alt="ETN")
                      li.col-3
                        .image-line
                          img(src=local_header.images.logo, alt="ETN")
                      li.col-3
                        .image-line
                          img(src=local_header.images.logo, alt="ETN")
                      li.col-3
                        .image-line
                          img(src=local_header.images.logo, alt="ETN")
                      li.col-3
                        .image-line
                          img(src=local_header.images.logo, alt="ETN")          

    section
      .container
        .title-section
          h2 Socios Comerciales
      .partner-principal
        .container
          .row
            .col-6
              .content-partner
                img(src=local_header.images.logo, alt="Terminal Central del Sur")
                h2 Terminal Central del Sur
                p Ubicación Dirección	Calzada Taxqueña #1320, colonia Campestre Churubusco, teléfono (55) 5689-9745 Localidad	Coyoacán, Coat of arms of Mexican Federal District.svg Ciudad de México, Flag of Mexico.svg México Datos de la estación Conexiones	Tren ligero Metro Tasqueña Líneas A y K1 del Servicio de Transportes Eléctricos del Distrito Federal N.º de andenes	35 [editar
            .col-6
              ul.logo-partners
                li
                  div
                    img(src=local_header.images.logo, alt="Concesiones Exclusivas")
                li
                  div
                    img(src=local_header.images.logo, alt="Grupo Comercial en Terminales")
                li
                  div
                    img(src=local_header.images.logo, alt="Terminal Central del Sur")
                li
                  div
                    img(src=local_header.images.logo, alt="Comercial Camionera del Sur")
    include template/_footer
