//-Configuración y variables globales del proyecto
include config/_variables

//-
  Ajustes de la configuración global para esta sección
//- global_path = '../'
//-
  Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
  Nombre de la página
- var page = 'Inicio'
//-
  - Ejemplo de como incluir CSS por pagina
  - var section_style = {}
  - section_style['dev'] = 'home.css'
  - section_style['prod'] = 'home.min.css'
//-
  - Ejemplo como incluir los JS por pagina
  - var section_scripts =  {}
  - section_scripts['prod'].push(global_path  + scripts.controllers + 'city.min.js')
  - section_scripts['dev'].push(global_path  + scripts.controllers + 'city.js')

- var section_scripts =  {} 
- section_scripts['prod'] = []
- section_scripts['dev'] = []
//-
//include components/_scripts   

doctype html
html(lang=site.lang)
  include template/_head
  body
    include template/_header 
    section.slider
      .slide
        img(src=local_header.images.imagen1)
        .title
          h3 Terminal Central del Sur es Vangu         
      .slide
        img(src=local_header.images.imagen1)
        .title
          h3 Terminal Central del Sur es Vanguardia
      .slide
        img(src=local_header.images.imagen1)
        .title
          h3 Terminal Central del Sur es Vanguardia
      .bullets
        ul
          li.active 0
          li 1
          li 2 
    section
      .lines-description
        .container
          .row
            h2 Nuestras Lineas
      .lines-principal
        .container
          .row            
            ul.col-12                
              li.col-3  
                .top-article
                  img(src=local_header.images.logo, alt="ETN")
                .bottom-article
                  span Enlaces Terrestres Nacionales (ETN)    
              li.col-3    
                .top-article
                  img(src=local_header.images.logo, alt="ETN")
                .bottom-article
                  span Enlaces Terrestres Nacionales (ETN)   
              li.col-3    
                .top-article
                  img(src=local_header.images.logo, alt="ETN")
                .bottom-article
                  span Enlaces Terrestres Nacionales (ETN)    
              li.col-3   
                .top-article
                  img(src=local_header.images.logo, alt="ETN")
                .bottom-article
                  span Enlaces Terrestres Nacionales (ETN)                                
      .lines-detail.lines-detail-inactive
        .container
          .row
            article.col-12             
              .col-4
                h3 Enlaces Terrestres Nacionales (ETN)
                ul
                  li Telefono Taxqueña (55) 55 55 55 55
                  li Call Center (55) 55 55 55 55
                  li Pagina Web
              .col-8
                .container
                  .row
                    ul.col-12
                      li.col-3
                        .image-line
                          img(src=local_header.images.logo, alt="ETN")
                      li.col-3
                        .image-line
                          img(src=local_header.images.logo, alt="ETN")
                      li.col-3
                        .image-line
                          img(src=local_header.images.logo, alt="ETN")
                      li.col-3
                        .image-line
                          img(src=local_header.images.logo, alt="ETN")
                      li.col-3
                        .image-line
                          img(src=local_header.images.logo, alt="ETN")
                      li.col-3
                        .image-line
                          img(src=local_header.images.logo, alt="ETN")
                      li.col-3
                        .image-line
                          img(src=local_header.images.logo, alt="ETN")
      .lines-principal
        .container
          .row            
            ul.col-12                
              li.col-3  
                .top-article
                  img(src=local_header.images.logo, alt="ETN")
                .bottom-article
                  span Enlaces Terrestres Nacionales (ETN)    
              li.col-3    
                .top-article
                  img(src=local_header.images.logo, alt="ETN")
                .bottom-article
                  span Enlaces Terrestres Nacionales (ETN)   
              li.col-3    
                .top-article
                  img(src=local_header.images.logo, alt="ETN")
                .bottom-article
                  span Enlaces Terrestres Nacionales (ETN)    
              li.col-3   
                .top-article
                  img(src=local_header.images.logo, alt="ETN")
                .bottom-article
                  span Enlaces Terrestres Nacionales (ETN)                                
      .lines-detail
        .container
          .row
            article.col-12             
              .col-4
                h3 Enlaces Terrestres Nacionales (ETN)
                ul
                  li Telefono Taxqueña (55) 55 55 55 55
                  li Call Center (55) 55 55 55 55
                  li Pagina Web
              .col-8
                .container
                  .row
                    ul.col-12
                      li.col-3
                        .image-line
                          img(src=local_header.images.logo, alt="ETN")
                      li.col-3
                        .image-line
                          img(src=local_header.images.logo, alt="ETN")
                      li.col-3
                        .image-line
                          img(src=local_header.images.logo, alt="ETN")
                      li.col-3
                        .image-line
                          img(src=local_header.images.logo, alt="ETN")
                      li.col-3
                        .image-line
                          img(src=local_header.images.logo, alt="ETN")
                      li.col-3
                        .image-line
                          img(src=local_header.images.logo, alt="ETN")
    include template/_footer
